### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

series = pd.Series(['Gender','Purchase ID'])

series

0         Gender
1    Purchase ID
dtype: object

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data[('Gender')].value_counts()
total_players

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
uniqueitems = purchase_data['Item ID'].nunique()
averageprice = purchase_data['Price'].mean()
totalpurchases = purchase_data['Purchase ID'].count()
minprice = purchase_data['Price'].min()
maxprice = purchase_data['Price'].max()
variance = purchase_data['Price'].var()
totalrevenue = purchase_data['Price'].sum()

#summary dataframe to hold results
summary_df = pd.DataFrame ({
    "Total Unique Items": [uniqueitems],
    "Total Average Price": [averageprice],
    "Total Purchases": [totalpurchases],
    "Minimum Price": [minprice],
    "Maximum Price": [maxprice],
    "Total Variance": [variance],
    "Total Revenue": [totalrevenue]
})
# display summary data frame
summary_df[["Total Unique Items", "Total Average Price", "Total Purchases", "Minimum Price", "Maximum Price", "Total Variance", "Total Revenue"]]

,Total Unique Items,Total Average Price,Total Purchases,Minimum Price,Maximum Price,Total Variance,Total Revenue
0,179,3.050987,780,1.0,4.99,1.367844,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
gender_df = purchase_data.groupby(["Gender"])
genderCounts = gender_df["SN"].nunique()
genderPercentages = genderCounts / total_players * 100


gender_summary = pd.DataFrame({
    "Total Gender Count": genderCounts,
    "Percentage of Players": genderPercentages})
gender_summary

                       Total Gender Count  Percentage of Players
Gender
Female                                 81              71.681416
Male                                  484              74.233129
Other / Non-Disclosed                  11              73.333333


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
purchase_Counts = gender_df["Purchase ID"].count()
avgpurchasePrice = gender_df["Price"].mean()
totalpurchaseValue = gender_df["Price"].sum()
avgpurchasePerson = totalpurchaseValue / genderCounts * 100

gender_Purchases = pd.DataFrame ({"Purchase Count": [purchase_Counts],
                                    "Average Purchase Price": [avgpurchasePrice],
                                    "Total Purchase Value": [totalpurchaseValue],
                                    "Average Purchase Per Person": [avgpurchasePerson]})
gender_Purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Per Person
0,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...,Gender Female 446.839506 Mal...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [25]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
age_groups = ["<=9", "10-14", "15-19", "20-24", "25-29", "30-34","35-39", "40+"]

purchase_data["Age Groups"] = pd.cut(purchase_data["Age"],age_bins,labels=age_groups)
group_age = purchase_data.groupby(["Age Groups"])

age_Counts = group_age["SN"].nunique()
age_Percentages = age_Counts / total_players * 100

age_summary = pd.DataFrame({"Total Age Counts": [age_Counts],
                            "Percentage of Players": [age_Percentages]})
age_summary

,Total Age Counts,Percentage of Players
0,Age Groups <=9 17 10-14 22 15-19 ...,10-14 NaN 15-19 ...

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
age_Purchases = group_age["Purchase ID"].count()
avg_Purchase_Price = group_age["Price"].mean()
total_Purchase_Price = group_age["Price"].sum()
avg_Total_Purchase_Price_Person = total_Purchase_Price / age_Counts * 100

age_Purchases_df = pd.DataFrame({"Purchase Count": [age_Purchases],
                                "Average Purchase Price": [avg_Purchase_Price],
                                "Total Purchase Value": [total_Purchase_Price],
                                "Avg Total Purchase Per Person": [avg_Total_Purchase_Price_Person]})

age_Purchases_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
0,Age Groups <=9 23 10-14 28 15-19 ...,Age Groups <=9 3.353478 10-14 2.956429...,Age Groups <=9 77.13 10-14 82.78 1...,Age Groups <=9 453.705882 10-14 376.27...

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame